<div class="tophead">
	<div class="headtopNav">
		<div class="pull-left">
			<span>欢迎访问 <a href="__ROOT__">{$site_name}</a></span>
			<php>$days = array('星期天','星期一','星期二','星期三','星期四','星期五','星期六');$today = date('w')-1;</php>
			<span class="date"><php>echo date(Y年m月d日);</php> <php>echo $days[$today];</php></span>
		</div>
		<div class="right-bar">
			<ul>
				<li class="li-after">
					<if condition="sp_is_user_login()">
					<a class="dropdown-toggle user" data-toggle="dropdown" href="javaScript:void(0);">
						<if condition="empty($user['avatar'])">
						<img src="__ROOT__/statics/images/headicon.png" class="headicon"/>
						<else/>
						<img src="{:sp_get_user_avatar_url($user['avatar'])}" class="headicon"/>
						</if>
						{$user.user_nicename}<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{:u('user/center/index')}"><i class="fa fa-user"></i> &nbsp;个人中心</a></li>
						<li class="divider"></li>
						<li><a href="{:u('user/index/logout')}"><i class="fa fa-sign-out"></i> &nbsp;退出</a></li>
					</ul>
					<else/>
					<a href="{:u('user/login/index')}" class="login"><i class="fa fa-sign-in"></i>&nbsp;登录&nbsp;</a>
					<a href="{:u('user/register/index')}" class="login"><i class="fa fa-user"></i>&nbsp;注册</a>
					</if>
				</li>
				<li>
					<form class="form-search active" ng-submit="onSearchSubmit()" ng-controller="searchCtl">
						<input type="text" ng-model="searchForm.keyword" placeholder="搜索..." name="keyword" value="{:I('get.keyword')}"/>
						<i class="fa fa-search" type="submit" ng-click="onSearchSubmit()"></i>
					</form>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="navbar">
	<div class="navbar-inner">
		<a class="pull-left" href="__ROOT__/"><img src="__ROOT__/statics/images/logo.png"/></a>
		<img src="__ROOT__/statics/images/top.png" class="pull-right">
	</div>
</div>
<div class="navbar navbar-menu headroom">
	<div class="menu">
		<div class="menu-section">
			<a href="__ROOT__"><i class="fa fa-home"></i>首页</a>
		</div>

		<div class="menu-section">
			<a class="gesp"><i class="fa fa-leanpub"></i>电商资讯</a>
			<ul class="sub-menu">
				<li><a href="">电商新闻</a></li>
				<li><a href="">行业数据</a></li>
				<li><a href="">人物观点</a></li><br/>
				<li><a href="">典型案例</a></li>
				<li><a href="">电商干货</a></li>
				<li><a href="">电商专题</a></li>
			</ul>
		</div>

		<div class="menu-section">
			<a class="gesp"><i class="fa fa-heart-o"></i>文化产业</a>
			<ul class="sub-menu">
				<li><a href="">文产新闻</a></li>
				<li><a href="">文化企业</a></li><br/>
				<li><a href="">项目对接</a></li>
				<li><a href="">文化活动</a></li>
			</ul>
		</div>

		<div class="menu-section">
			<a class="gesp"><i class="fa fa-users"></i>联盟空间</a>
			<ul class="sub-menu">
				<li><a href="">联盟简介</a></li>
				<li><a href="">联盟动态</a></li>
				<li><a href="">政策法规</a></li><br/>
				<li><a href="">联盟公告</a></li>
				<li><a href="">联盟文库</a></li>
				<li><a href="">联盟服务</a></li>
			</ul>
		</div>

	</div>
</div>