@CHARSET "UTF-8";
/*body.index{background-color: #eee;}*/
body { font-family: "Microsoft YaHei"}
a {
	color: inherit;
	text-decoration: none;
	/* background: transparent; */
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
a:hover{
	color: rgb(188, 0, 0);
	text-decoration: none
}
a:focus{outline:none;}
ul,li,span,button,form,a,div,i{
	margin: 0px; 
	padding: 0px;
}
li
{
	list-style: none;
}
i{
	font-style: normal;
}
p{
	margin: 0px;
	padding: 0px;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
h1{font-size: 30px;}
h3{font-size: 18px;}
h4{font-size: 16px;}
.container{
	padding: 15px;
	padding-left: 0;
	padding-right: 0;
}
.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-4em)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-4em)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-4em)
    }

    100% {
        -o-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-4em)
    }

    100% {
        transform: translateY(0)
    }
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-4em)
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0)
    }

    100% {
        -moz-transform: translateY(-4em)
    }
}

@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0)
    }

    100% {
        -o-transform: translateY(-4em)
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-4em)
    }
}

.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }
}

@-moz-keyframes flipInX {
    0% {
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    100% {
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }
}

@-o-keyframes flipInX {
    0% {
        -o-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    100% {
        -o-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }
}

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    100% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }
}

.animated.flipInX {
    -webkit-backface-visibility: visible!important;
    -webkit-animation-name: flipInX;
    -moz-backface-visibility: visible!important;
    -moz-animation-name: flipInX;
    -o-backface-visibility: visible!important;
    -o-animation-name: flipInX;
    backface-visibility: visible!important;
    animation-name: flipInX
}

@-webkit-keyframes flipOutX {
    0% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

@-moz-keyframes flipOutX {
    0% {
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }

    100% {
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

@-o-keyframes flipOutX {
    0% {
        -o-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }

    100% {
        -o-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

@keyframes flipOutX {
    0% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }

    100% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

.animated.flipOutX {
    -webkit-animation-name: flipOutX;
    -webkit-backface-visibility: visible!important;
    -moz-animation-name: flipOutX;
    -moz-backface-visibility: visible!important;
    -o-animation-name: flipOutX;
    -o-backface-visibility: visible!important;
    animation-name: flipOutX;
    backface-visibility: visible!important
}

.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0px;
}
.jcsj a {
	display: inline-block;
}
.jcsj img:hover{
	outline: none;
	-moz-box-shadow: 3px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
	box-shadow: 3px 3px 5px #000;
	transition: all 0.2s ease;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
button,input{
	font-family: "jaf-bernino-sans","Lucida Grande","Microsoft YaHei","微软雅黑","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
::-webkit-input-placeholder {
  color: rgba(0,0,0,0.3);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.3);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.3);
}
input,
input[type="submit"],
input[type="reset"],
input[type="button"],
select,
button,
textarea{
	border-radius: 0px;
	outline: none;
}
img{
	border: 0;
	vertical-align: middle;
}
.clearfix{*zoom:1;}
a:hover,button:focus,input:focus,textarea:focus{
	outline:none
}
iframe,video{max-width: 100%;}
.u-overflow-hidden{overflow: hidden;}
.alert{
	padding: 10px 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 14px;
	width: 100%;
}
.alert-error{
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-success{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}


body.body-white {
	background: #fff;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin-right: 0px;
	margin-left: 0px;
}
.user {
	padding: 0;
}
.user .headicon {
	margin: 0 5px;
	height: 30px;
}
.caret {
	vertical-align: middle;
	margin: 0 5px;
}

/* tc widget */
.tc-main {
	padding-top: 20px;
}

/* tc-box */
.tc-box {
	background: #fff;
	padding: 5px 10px;
	margin: 0;
}
.span4 .tc-box {
	margin-bottom: 10px;
}
.tc-box.first-box {
	margin: 0 0 10px 0;
}
.tc-box.article-box {
	padding: 5px 20px;
}

.tc-gridbox {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: solid 1px #ddd;
	background: #fff;
	cursor: pointer;
}
.tc-gridbox:hover {
	border: solid 1px #ccc;
	-webkit-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.1);
	box-shadow: 0 5px 5px 0 rgba(50, 50, 50, ,0.1);
}
.tc-gridbox a {
	text-decoration: none;
}
@media (min-width:768px) and (max-width:979px) {
	.tc-gridbox {
		display: block;
		float: none;
		width: 95%;
	}
}
.tc-gridbox .header {
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	text-align: center;
	background: #fff;
}
.tc-gridbox .footer {
	padding: 5px 14px 5px 14px;
	text-align: right;
	background: #fff;
}
.tc-gridbox .header .item-image {
	overflow: hidden;
}
.tc-gridbox .header img {
	margin-bottom: 5px;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.tc-gridbox .header img:hover {
	-webkit-transform: scale(1.2) rotate(2deg);
	-moz-transform: scale(1.2) rotate(2deg);
	-o-transform: scale(1.2) rotate(2deg);
	-ms-transform: scale(1.2) rotate(2deg);
	transform: scale(1.2) rotate(2deg);
}
.tc-gridbox .header h3 {
	color: #454a4e;
	margin: 0 5px;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 24px;
}
.tc-gridbox .header h3 a, .tc-gridbox .header h3 a:focus, .tc-gridbox .header h3 a:hover {
	color: #454a4e;
	white-space: nowrap;
}
.tc-gridbox .header .meta {
	color: #5a6065;
}
.tc-gridbox .header hr {
	border-top-color: #ced5db;
	border-bottom: none;
	margin: 5px 0;
}
.tc-gridbox .body {
	padding-right: 14px;
	padding-left: 14px;
	margin-bottom: 14px;
	color: #343a3f;
}
.tc-gridbox .body a {
	color: #666;
}
.tc-gridbox .body a:hover {
	color: #428bca;
}
.tc-gridbox .btn {
	float: right;
	margin-right: 10px;
	margin-bottom: 18px;
}

/* masonary */
#container .item {
	margin-bottom: 20px;
}
#container .item h3 {
	line-height: 100%;
}
#container .grid-sizer, #container .item {
	width: 23%;
	margin: 10px 1%;
	float: left;
	zoom: 1;
}
@media (max-width:479px) {
	#container .grid-sizer, #container .item {
		width: 98%;
		margin: 10px 1%;
		float: left;
		zoom: 1;
	}
}
@media (min-width:480px) and (max-width:767px) {
	#container .grid-sizer, #container .item {
		width: 48%;
		margin: 10px 1%;
		float: left;
		zoom: 1;
	}
}

/* list Boxes
------------------------------------ */
.list-boxes {
	overflow: hidden;
	padding: 15px 20px;
	/*margin-bottom: 25px;*/
	background: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.list-boxes:hover {
	border-top: solid 1px rgb(188, 0, 0);
}
.list-boxes h2 a {
	color: rgb(188, 0, 0);
}
.list-boxes:hover h2 a {
	color: rgb(188, 0, 0);
}
.list-boxes .list-actions a {
	font-size: 16px;
	text-decoration: none;
}
.list-boxes p a {
	color: #72c02c;
}
.list-boxes .list-boxes-img li i {
	color: #72c02c;
	font-size: 12px;
	margin-right: 5px;
}
.list-boxes .list-boxes-img img {
	display: block;
	margin: 5px 10px 10px 0;
}
.list-boxes h2 {
	margin-top: 0;
	font-size: 20px;
	line-height: 20px;
}
.list-boxes ul.list-boxes-rating li {
	display: inline;
}
.list-boxes ul.list-boxes-rating li i {
	color: #f8be2c;
	cursor: pointer;
	font-size: 16px;
}
.list-boxes ul.list-boxes-rating li i:hover {
	color: #f8be2c;
}

/* list Colored Boxes */
.list-boxes-colored p, .list-boxes-colored h2 a, .list-boxes-colored .list-boxes-img li, .list-boxes-colored .list-boxes-img li i {
	color: #fff;
}

/* Red list Box */
.list-boxes-red {
	background: #e74c3c;
}

/* Blue list Box */
.list-boxes-blue {
	background: #3498db;
}

/* Grey list Box */
.list-boxes-grey {
	background: #95a5a6;
}

/* Turquoise list Box */
.list-boxes-sea {
	background: #1abc9c;
}

/* Turquoise Top Bordered list Box */
.list-boxes-top-sea {
	border-top: solid 2px #1abc9c;
}
.list-boxes-top-sea:hover {
	border-top-color: #16a085;
}

/* Yellow Top Bordered list Box **/
.list-boxes-top-yellow {
	border-top: solid 2px #f1c40f;
}
.list-boxes-top-yellow:hover {
	border-top-color: #f39c12;
}

/* Orange Left Bordered list Box **/
.list-boxes-left-orange {
	border-left: solid 2px #e67e22;
}
.list-boxes-left-orange:hover {
	border-left-color: #d35400;
}

/* Green Left Bordered list Box **/
.list-boxes-left-green {
	border-left: solid 2px #72c02c;
}
.list-boxes-left-green:hover {
	border-left-color: #5fb611;
}

/* Green Right Bordered list Box **/
.list-boxes-right-u {
	border-right: solid 2px #72c02c;
}
.list-boxes-right-u:hover {
	border-right-color: #5fb611;
}

/* comments */
.comment {
	margin-bottom: 10px;
}
.comment .avatar {
	height: 40px;
	width: 40px;
}
.comment-body {
	overflow: hidden;
}
.comment-content {
	padding-bottom: 2px;
	word-break: break-all;
	word-wrap: break-word;
}
.comment>.pull-left {
	margin-right: 10px;
}
.comment .time {
	color: #ccc;
	font-size: 12px;
	line-height: 14px;
}
.comment-postbox-wraper {
	padding-right: 22px;
}
.comment-postbox {
	width: 100%;
	padding: 10px;
}
.comment-reply-box {
	position: relative;
	padding-right: 14px;
}
.comment-reply-box .textbox {
	width: 100%
}

/* ranking box */
.ranking ul.unstyled li {
	padding: 5px 0;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-bottom: 1px dashed #f0f0f0;
}
.ranking ul.unstyled li i {
	margin-right: 5px;
}
.ranking li i {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-right: 15px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	background-color: #aaa;
}
.ranking li.top3 i {
	background: #FC9B0B;
}

/* comment ranking box */
.comment-ranking .comment-ranking-inner {
	padding: 10px;
	background: #f7f7f7;
	position: relative;
	margin-bottom: 10px;
	/* border-top: solid 2px #eee;
	*/
}
.comment-ranking .comment-ranking-inner, .comment-ranking .comment-ranking-inner:after, .comment-ranking .comment-ranking-inner:before {
	transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.comment-ranking .comment-ranking-inner:after, .comment-ranking .comment-ranking-inner:before {
	width: 0;
	height: 0;
	right: 0px;
	bottom: 0px;
	content: " ";
	display: block;
	position: absolute;
}
.comment-ranking .comment-ranking-inner:after {
	border-top: 15px solid #eee;
	border-right: 15px solid transparent;
	border-left: 0px solid transparent;
	border-left-style: inset; /* FF fixes */
	border-right-style: inset; /* FF fixes */
}
.comment-ranking .comment-ranking-inner:before {
	border-bottom: 15px solid #fff;
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /* FF fixes */
	border-bottom-style: inset; /* FF fixes */
}
.comment-ranking .comment-ranking-inner:hover {
	border-color: #FC9B0B;
	border-top-color: #FC9B0B;
	background: #f0f0f0;
}
.comment-ranking .comment-ranking-inner:hover:after {
	border-top-color: #FC9B0B;
}
.comment-ranking .comment-ranking-inner span.comment-time {
	color: #777;
	display: block;
	font-size: 11px;
}
.comment-ranking .comment-ranking-inner a {
	text-decoration: none;
}
.comment-ranking .comment-ranking-inner a:hover {
	text-decoration: underline;
}
.comment-ranking .comment-ranking-inner i.fa {
	top: 2px;
	color: #bbb;
	font-size: 18px;
	position: relative;
}
ul.tc-photos {
	margin: 0;
}
.tc-photos li {
	display: inline;
}
.tc-photos li a {
	text-decoration: none;
}
.tc-photos li img {
	opacity: 0.6;
	width: 50px;
	height: 50px;
	margin: 0 2px 8px;
	border: 1px solid #ddd;
}
.tc-photos li img:hover {
	opacity: 1;
	border: 1px solid #f90;
}
.posts .dl-horizontal {
	margin-bottom: 15px;
	overflow: hidden;
}
.posts .dl-horizontal dt {
	width: 60px;
	float: left;
}
.posts .dl-horizontal dt .img-wraper {
	display: block;
	width: 55px;
	height: 55px;
	padding: 1px;
	margin-top: 2px;
	border: solid 1px #ddd;
}
.posts .dl-horizontal dt img {
	width: 100%;
	height: 100%;
}
.posts .dl-horizontal dd {
	margin-left: 70px;
}
.posts .dl-horizontal dd p {
	margin: 0;
}
.posts .dl-horizontal dd a {
	font-size: 14px;
	line-height: 16px !important;
}
.posts .dl-horizontal dd a:hover {
	text-decoration: none;
}
.posts .dl-horizontal:hover dt img, .posts .dl-horizontal:hover dd a {
	color: #FC9B0B;
	border-color: #FC9B0B !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#backtotop {
	position: fixed;
	bottom: 50px;
	right: 20px;
	display: none;
	cursor: pointer;
	font-size: 50px;
	z-index: 9999;
}
#backtotop:hover {
	color: #333;
}
.caption-wraper {
	position: absolute;
	left: 0%;
	bottom: 5em;
	width: 100%;
}
.caption-wraper .caption {
	position: relative;
	left: 0%;
	background-color: rgba(0, 0, 0, 0.54);
	padding: 10px;
	color: #fff;
	-webkit-border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	-ms-border-radius: 1.2em;
	-o-border-radius: 1.2em;
	border-radius: 0;
	font-weight: bold;
	font-size: 16px;
	padding-left: 25px;
}
@media (max-width:767px) {
	.sy-box {
		margin: 12px -20px 0 -20px;
	}
	.caption-wraper {
		left: 0;
		bottom: 0.4em;
	}
	.caption-wraper .caption {
		left: 0;
		padding: 0.2em 0.4em;
		font-size: 0.92em;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
}
#layout {
	min-height: 400px;
	height: auto !important;
	height: 400px;
}
.tf-spin {
	text-align: center;
	margin-top: 10%;
}
.center .control-label {
	float: left;
	margin-right: 20px;
}
.wz1 {
	left: 150px;
	position: relative;
	top: 30px;
}
.wz2 {
	left: 160px;
	position: relative;
	top: 50px;
}
.wz3 {
	left: 170px;
	position: relative;
	top: 40px;
}
.wz4 {
	left: 180px;
	position: relative;
	top: 30px;
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width .6s ease;
	transition: width .6s ease;
}
.progress {
	margin-top: 10px;
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
form .headicon {
	margin-bottom: 10px;
}
/* ------------------------------------------- */
/* Slide Left 
/* ------------------------------------------- */
/* line 217, ../sass/ng-animation.scss */
.slide-left {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}
/* line 219, ../sass/ng-animation.scss */
.slide-left.ng-enter {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
}
/* line 225, ../sass/ng-animation.scss */
.slide-left.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
/* line 230, ../sass/ng-animation.scss */
.slide-left.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
/* line 236, ../sass/ng-animation.scss */
.slide-left.ng-leave-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0;
}
/* line 242, ../sass/ng-animation.scss */
.slide-left.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1;
}
/* line 247, ../sass/ng-animation.scss */
.slide-left.ng-hide-add.ng-hide-add-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0;
}
/* line 253, ../sass/ng-animation.scss */
.slide-left.ng-hide-remove {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0;
}
/* line 259, ../sass/ng-animation.scss */
.slide-left.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
.tophead {
	width: 100%;
	background: white;
	border-bottom: 1px #c3c3c3 solid;
}
.headtopNav {
	width: 1200px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	_padding-bottom: 0;
}
.date {
	margin-left: 5px;
}
.headlogin {
	width: 50px;
	height: 30px;
	margin-right: 4px;
}
.headLogin{ width:80px; height:18px; border:1px #ccc solid;}

.right-bar{
	font-size: 0px;
	float: right;
	color: rgba(0,0,0,0.3);
	background: #fff;
}
.right-bar>ul>li{
	display: inline-block;
	float: left;
	height: 30px;
	line-height: 30px;
}
.right-bar>ul>li>a{
	font-size: 14px;
	padding-right: 10px;
}
.right-bar .li-after:after{
	display: inline-block;
	background: rgba(0,0,0,0.15);
	margin: 0px 0px 0px 14px;

}
.user-avatar{
	font-size: 14px;
	margin-right: 3px;
	display: inline-block;
}
.has-drop-menu.user-avatar:after{
	margin-left: 3px;
	color: #ddd;
}
.user-avatar img{
	width: 24px;
	border-radius: 100%;
	margin-right: 2px;
}
.open .dropdown-toggle {
	float: right;
}
.right-bar .dropdown-menu{
	top: 30px;
	font-size: 14px;
	position: relative;
	float: none;
}
.dropdown-menu > li > a {
	clear: none;
}
.form-search{
	font-size: 14px;
	height: 100%;
	position: relative;
}
.form-search .icon-search{
	cursor: pointer;
	display: inline-block;
	width: 15px;
	height: 15px;
}
.form-search .icon-search:before{
	float: right;
	margin-top: 22px;
	margin-right: 18px;
}
.form-search .icon-search:hover{
	color: #dd5f0d;
}
.form-search input{
	font-size: 14px;
	padding-left: 10px;
	border:none;
	width: 0px;
	height: 100%;
	line-height: 14px;
	background: transparent;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	box-sizing: border-box;
}
.form-search.active input{
	width: 130px !important;
	cursor: text;

}
.form-search .close{
	display: inline-block;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	background: rgba(0,0,0,0.1);
	color: #fff;
	font-weight: bold;
	position: absolute;
	right: 15px;
	top: 21px;
	border-radius: 100%;
	/*display: none;*/
	cursor: pointer;
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.active.form-search .close{
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
.active2.form-search .close{
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	transform: scale(1,1);
}
.dropdown-menu .logout a{
	width: 50px;
	display: inline-block;
}

.topnav {
	height: 170px
}
.navbar-inner {
	width: 1200px;
	background: none;
	border: none;
	margin: 0 auto;
	box-shadow:none;
	padding: 0;
}
.navbar-inner a {
	margin-top: 50px;
	margin-left: 25px;
}
.fa-search:hover {
	cursor: pointer;
}
.navbar-menu {
	height: 70px;
	background-image: url(../images/navbg.png);
	width: 100%;
	text-align: center;	
} 
.navbar {
	margin-bottom: 0;
} 
.navbar-menu .nav {
	width: 1200px;
	margin: 0 auto;
}
.menu {
	width: 1200px;
	margin: 0 auto;
	color: white;
}
.sub-menu {
	float: left;
	text-align: left;
	margin-top: 10px;
}
.sub-menu li {
	display: inline-block;
}
.sub-menu a {
	width: 75px;
	display: inline-block;
	height: 25px;
	line-height: 25px;
}
.sub-menu a:hover {
	color: white;
	opacity: .8;
}
.menu-section {
	display: inline-block;
	height: 70px;
	float: left;
}
.menu-section i {
	display: block;
	font-size: 34px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.menu-section:first-child i {
	font-size: 40px;
	padding-bottom: 0px;
}
.menu-section:first-child a{
	width: 50px;
}
.menu-section>a {
	display: block;
	float: left;
	width: 135px;
	height: 70px;
	margin-left: 20px;
}
.menu-section>a:hover {
	color: white;
	opacity: .8;
}
.gesp {
	background: url(../images/ge.png) no-repeat;
}
.gesp img {
	margin-top: 10px;
}
#layout {
	background: #f8f8f8 url(../images/bogyBg.png) repeat-x;
}
hr {
	margin: 0;
}
.lastnews {
	width: 370px;
	height: 270px;
	display: block;
	float: left;
	margin-left: 15px;
	background: white;
	padding: 15px;
	border: 1px solid #e0e0e0;
}
.lastnews h3 {
	display: inline-block;
	font-weight: bold;
}
.lastnews span {
	background: url(../images/hr.png) repeat-x;
	display: inline-block;
	float: right;
	height: 20px;
	width: 279px;
	margin-top: 10px;
}
.lastnews ul li {
	background: url("../images/dot.png") no-repeat left;
	padding-left: 15px;
	margin-top: 12px;
	height: 20px;
	overflow: hidden;
}
.lastnews ul li:first-child{
	margin-top: 15px;
}
.block1 {
	height: 360px;
	width: 100%;
	background: white;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	text-align: center;
	padding-top: 40px;
	background-image: url(../images/block1.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.block1 div {
	display: inline-block;
	width: 380px;
	float: left;
}
.block1 div h3 {
	font-weight: bold;
}
.block1 div img {
	margin-top: 10px;
	width: 300px;
}
.block1 div ul li {
	background: url("../images/dot.png") no-repeat left;
	padding-left: 15px;
	margin-top: 12px;
	text-align: left;
}
.block1 div ul {
	margin-left: 40px;
}

.j-hotspotWrap {
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 25px;
	margin-top: 20px;
}
.row-fluid {
	margin-top: 20px;
	margin-bottom: 20px;
}
.row-fluid .w790 {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	background: white;
	background-image: url(../images/block2.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.cats {
	position:relative;
	margin-left: 180px;
	top: 8px;
}
.cats li {
	display: inline-block;
	margin-left: 20px;
	color: gray;
}
.j-hotspot{
	border-bottom:1px dashed #dcdcdc;
	margin-bottom:20px;
	position:relative;
}
.j-hotspotTil{
	margin:10px 0;
	margin-bottom: 8px;
	margin-top: 0;
}
.j-hotspotTil .h3{
	float:left;
}
.j-hotspotTil .h3 em{
	margin-right:15px;
}
.j-hotspotTil .h3 .c-red{
	color: #bc0000;
}
.j-hotspotTil .h3 .c-red:hover{
	color: #840000;
}
.j-hotsBtn{
	float:right;
	margin-top: 8px;
}
.j-hotsBtn a,.j-hotsBtn i{
	float:left;
}
.j-hotsBtn .a-yuedu{
	display:block;
	float:left;
	width:22px;
	height:15px;
	margin:4px 5px 0 0;
	background-position:0 -86px;
}
.j-hotsBtn .a-review{
	display:block;
	float:left;
	width:22px;
	height:15px;
	margin:4px 5px 0 0;
	background-position:0 -65px;
}
.j-hotsBtn a:hover .a-review{
	background-position: -29px -65px;
}
.j-hotsBtn span{
	float:left;
}
.j-hotsBtn i{
	margin:0 10px;
	color:#e4e4e4;
}
.j-hotspotPic{
	width:305px;
	height:160px;
	float:left;
	margin-right:20px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.j-hotspotPic img {
	width:305px;
	height:160px;
}
.j-hotspotInfo{
	width:405px;
	float:left;
}
.j-hotspotInfo .j-hotspotA{
	overflow:hidden;
	position:relative;
	margin-bottom: 12px;
	margin-top: 10px;
	text-indent: 2em;
}
.j-hotspotInfo .j-hotspotA em{
	width:10px;
	height:11px;
	display:inline-block;
	background-position:0 -112px;
	overflow:hidden;
}
.j-hotspotInfo .j-hotspotA a{
	font-size: 14px;
	line-height: 23px;
	height: 90px;
	text-overflow: ellipsis;
	display: block;
}
.j-hotspotInfo .j-hotspotA a:hover{
	color: #333333;
}
.j-hotspotInfo .j-hotspotA a:hover em{
	background-position:0 -127px;
}
.j-hotspotLink{
	display:block;
	width:405px;
	margin-bottom: 20px;
	line-height: 35px;
}
.j-hotspotLink a{
	border: 1px solid #dcdcdc;
	background:#ebebeb;
	padding:5px 20px;
	margin-right:5px;
	font-size:12px;
	white-space:nowrap;
}
.j-hotspotLink a:hover{
	border: 1px solid #a2a2a2;
	background:none;
}
.hx {
	background: url(../images/hr.png) repeat-x;
	display: inline-block;
	float: right;
	height: 20px;
	margin-top: 10px;
	width: 280px;
}
.row-fluid .w380 {
	width: 380px;
	padding: 0px;
	padding-top: 40px;
	background-image: url(../images/block3.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.content1 {
	padding: 20px;
	background: white;
	margin-bottom: 20px;
	margin-top: -2px;
	padding-bottom: 5px;
}
.contact {
	padding: 20px;
	background: white;
	margin-top: 20px;
}
.w380 h3 {
	display: inline-block;
	font-weight: bold;
}
.imgblock img {
	width: 48%;
	height: 100px;
}
.imgblock a:last-child img {
	/*margin-right: 6%;*/
	float: right
}
.contact blockquote span {
	display: block;
	margin-top: 5px;
}
.contact blockquote span:first-child{
	margin-top: -5px;
}
.jcsj {
	width: 100%;
	background: white;
	clear: both;
	background-image: url(../images/jcsj.png);
	background-repeat: no-repeat;
	margin-bottom: 20px;
	padding: 30px;
	padding-top: 70px;
	text-align: center;
	overflow: hidden;
/*	padding-left: 20px;
	padding-right: 20px;*/
}
.slick-prev {display: none !important;}
.slick-next {display: none !important;}

.slick-list {
	overflow: hidden;
}
.jcsj a {
	display: inline-block;
	margin: 10px;
	margin-left: 0
}
.link {
	width: 100%;
	height: 180px;
	background: white;
	clear: both;
	background-image: url(../images/links.png);
	background-repeat: no-repeat;
	padding-top: 70px;
	text-align: center;
}
.link a {
	display: inline-block;
	margin: 10px;
	width: 160px;
	height: 70px;
}
.link img {
	width: 160px;
}
.footer {
	background: none repeat scroll 0 0 #ededed;
	border-top: 1px solid #dddddd;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}
.footer p {
	line-height: 30px;
}
.common_block_title>h2 {
	font-size: 1.4em;
	margin: 0;
	padding: 0;
	margin-bottom: .5em;
	padding-bottom: .5em;
}
.common_block_title {
	padding: 8px 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #333333;
	font-size: 1.2em;
	margin: 5px 0 10px 15px;
}
.article-infobox {
	font-size: 12px;
	color: #666;
}
.article-infobox a {
	color: rgb(188, 0, 0);
}
.article-infobox span {
	margin-right: 10px;
}
#article_content {
	padding: 10px;
}
.common_block_title_right{font-weight:bold}
.common_block_border {
  border: #ffffff 1px solid;
  margin-bottom: 20px;
  background: white;
}
.category_right_list{margin:0 15px;min-height:90px}
.category_right_list p{}
.category_right_list dl{margin-left:35px;margin-bottom:12px;}
.category_right_list dt{clear:both}
.category_right_list dd{margin:10px auto 10px 20px;float:left}
.category_right_list dd a{padding:3px 5px;font-weight:100;background: none;border-radius: 0px;}
.category_right_list a{padding:3px 15px;font-weight:100;background: #efefef;border-radius: 3px;max-width: 195px;display: block;}
.category_right_list .hover{background: #bc0000;color: #fff !important;border-radius: 3px;}
.category_right_list ul{list-style:none;margin:0;padding:0}
.category_right_list li{display: inline-block;padding:6px 5px;}
.common_block_title {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
}
.common_block_content {
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 10px;
}
.common_block_content_right {
  padding-left: 5px;
  margin-left: 5px;
}
.common_block_title_right {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
  padding-left: 0px;
  margin-left: 0px;
}
.common_block_left {
	width: 100px;
	height: 70px;
	float: left;
}
.common_block_right {
	width: 230px;
	text-align: left;
	display: inline-block;
	float: right;
}
.blog_position h3 {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
	line-height: 14px;
}
.text-more {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}
.author {
	font-size: 14px;
	color: #9f9f9f !important;
	margin-right: 10px;
}
.circle_block_title {
	background: #F5F5F5;
	padding: 8px 5px;
	color: #7A7A7A;
	font-size: 1.2em;
	margin: 0 !important;
}
.list .span8 {
	background: white;
}
.circle_block_title div {
	 margin-left: 20px; 
}
.list-posts {
	padding: 20px;
}
.leftimg {
	float: left;
}
.leftimg a img {
	width: 200px;
	height: 146px;
}
.blog_detail {
	display: inline-block;
	width: 470px;
	margin-left: 20px
}
.media-heading a {
	font-size: 16px;
	font-weight: 700;
}
.media-heading {
	line-height: 20px;
	margin-bottom: 0;
}
p.detail {
	font-size: 12px;
	color: #4b4b4b!important;
	line-height: 23px;
	margin-top: 10px;
}
.pagination {
	margin: 10px;
}
.login .span6 h2 {
	padding: 20px;
}
.register .span6 h2 {
	padding: 20px;
}
.confirm-btn {
	display: block;
	margin-top: 20px;
	padding: 8px 0;
	border: 1px solid rgba(0,0,0,0.06);
	border-radius: 5px;
	background: #eee;
	text-align: center;
	width: 100px;
	line-height: normal;
}
.confirm-btn:hover{
	border: 1px solid rgba(0,0,0,0.18);
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd
}

.list-group-item:first-child {
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0
}

.list-group-item:last-child {
    margin-bottom: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0
}

.list-group-item>.badge {
    float: right
}

.list-group-item>.badge+.badge {
    margin-right: 5px
}

a.list-group-item {
    color: #555
}

a.list-group-item .list-group-item-heading {
    color: #333
}

a.list-group-item:hover,a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5
}

.list-group-item.disabled,.list-group-item.disabled:hover,.list-group-item.disabled:focus {
    color: #dfdfdf;
    background-color: #f0f0f0
}

.list-group-item.disabled .list-group-item-heading,.list-group-item.disabled:hover .list-group-item-heading,.list-group-item.disabled:focus .list-group-item-heading {
    color: inherit
}

.list-group-item.disabled .list-group-item-text,.list-group-item.disabled:hover .list-group-item-text,.list-group-item.disabled:focus .list-group-item-text {
    color: #dfdfdf
}

.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca
}

.list-group-item.active .list-group-item-heading,.list-group-item.active:hover .list-group-item-heading,.list-group-item.active:focus .list-group-item-heading,.list-group-item.active .list-group-item-heading>small,.list-group-item.active:hover .list-group-item-heading>small,.list-group-item.active:focus .list-group-item-heading>small,.list-group-item.active .list-group-item-heading>.small,.list-group-item.active:hover .list-group-item-heading>.small,.list-group-item.active:focus .list-group-item-heading>.small {
    color: inherit
}

.list-group-item.active .list-group-item-text,.list-group-item.active:hover .list-group-item-text,.list-group-item.active:focus .list-group-item-text {
    color: #e1edf7
}

.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3
}
.headtitle {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0
}

.headtitle h2 {
    font-size: 22px
}

.headtitle h2,.headtitle h3,.headtitle h4 {
    display: inline-block;
    padding-bottom: 5px;
    margin: 0 0 -2px 0;
    border-bottom: 2px solid #f90
}

.headtitle-md {
    margin-bottom: 15px
}

.headtitle-md h2 {
    font-size: 21px
}
.userhead img {
	height: 125px;
}
.company h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 24px;
}
.nav-tabs li a:hover {
	cursor: pointer !important;
}
.j-hotspotWrap .j-hotspot:first-child {
	padding-top: 10px;
}
.common_block_title img {
	border-radius: 20px;
	margin-top: 10px;
}
.description {
	margin-bottom: 20px;
}
.clogo {
	float: left;
	margin-right: 20px;
	width: 30%;
}
.des_content {
	line-height: 32px;
	font-size: 14px;
	display: block;
}
.description table {
	margin-bottom: 10px;
}
.intro_title_content_01 {
	color: #2B638D;
	font-size: 16px;
	line-height: 20px;
	background-image: url(../images/ico_title_01.jpg);
	background-repeat: no-repeat;
	background-position: left 45%;
	padding-left: 16px;
}
.active{
	color: rgb(188, 0, 0);
}
.pagination .current{
	background: #dddddd !important;
	color: rgb(188, 0, 0) !important;

}
.left-ul {
	margin-left: 0px;
	margin-bottom: 20px;
}
.left-ul li {
	list-style: inherit;
	margin-top: 12px;
	text-align: left;
	list-style: none;
}
.left-ul li {
	background: url("../images/dot.png") no-repeat left;
	line-height: 30px;
	text-indent: 15px;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ad {
	margin-bottom: 15px;
	display: none;
}
#adBig {
	position: absolute;
  	top: 30px;
  	z-index: 9999;
}